@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  color: #21092f;
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-violet: hsl(270, 3%, 87%);
  --Dark-Grayish-Violet: hsl(279, 6%, 55%);
  --Very-Dark-Violet: hsl(278, 68%, 11%);
}

@media (min-width: 375px) {
  main {
    margin: 0 auto;
  }
}
